body {
	font-family: 'Droid Sans', sans-serif;
	background: #EDF1F2;
	color: #444145;
}

h1 {
	margin: 0 0 0 0;
}

p {
	margin: 0 0 0 0;
}

.inner {
	margin: 0 auto;
	position: relative;
	max-width: 700px;
}

.header	{
	text-align: center;
	margin: 115px 0px 115px 0px;
}

.logo {
	font-size: 100px;	
	font-weight: 300;
	font-family: 'Kreon', serif;
	letter-spacing: -0.05em;
	line-height: 1;
}

nav {
	text-align: center;
	width: 100%;
	height: 60px;
	background: #444145;
	color: #FAFAF2;
}

nav .tab {
	font-size: 20px;
	height: 40px;
	line-height: 45px;
}

.fix {
	position: fixed;
	top: 0px;
	z-index: 100;
}

.slider div {
	height: 5px;
}
.slider .active {
	background-color: #82B3BF;
}

.post {
	background-color: #FAFAF2;
	margin: 0px 0px 20px 0px;
	padding: 5px;
	position: relative;
}

.subject {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	margin: 0 0 0 0;
}

.expand {
	width: 700px;
	position: relative;
	top: 5px;
	left: -5px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	border-bottom-style: solid;
	border-width: 3px;
	color: #B9BDBD;
	border-color: #B9BDBD;
	z-index: 50;
}

.loader {
	width: 700px;
	position: absolute;
	font-size: 20px;
	text-align: center;
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
	color: #FAFAF2;
	background-color: #B9BDBD;
	border-color: #B9BDBD;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	opacity: 0;
}
.glowing {
    cursor: default;
  -webkit-animation: glowing 0.4s linear 0s infinite alternate;
     -moz-animation: glowing 0.4s linear 0s infinite alternate;
       -o-animation: glowing 0.4s linear 0s infinite alternate;
          animation: glowing 0.4s linear 0s infinite alternate;
}

@-webkit-keyframes glowing { from { opacity: 1.0; } to { opacity: 0; }  }
   @-moz-keyframes glowing { from { opacity: 1.0; } to { opacity: 0; }  }
     @-o-keyframes glowing { from { opacity: 1.0; } to { opacity: 0; }  }
        @keyframes glowing { from { opacity: 1.0; } to { opacity: 0; }  }

.expand:hover {
	color: #FAFAF2;
	background-color: #B9BDBD;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.hidden {
	display: none;
}

/* Swipe Requirements */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > section {
  float:left;
  width:100%;
  position: relative;
}