---
layout: default
title: Home
---


<section class="blog">
	<div class="inner">
		{% for post in site.posts %}
		 {% if post.categories contains 'blog' %}
			<div class="post" data-url="{{post.url}}" data-container="content-{{post.name}}">
				<h2 class="subject">{{ post.title }}</h2>
				<span class="date">{{ post.date | date_to_string }}</span>
				<p class="description">{{ post.description }}</p>
				<div class="img-wrapper"><img src="{{post.image}}"></div>
				<div class="content" id="content-{{post.name}}"></div>
				<div class="expand">&#8744;</div>
				<div class="loader">&#8744;</div>
			</div>
	      {% endif %}
		{% endfor %}
	</div>
</section>


<section class="projects">
	<div class="inner">
		{% for post in site.posts %}
		 {% if post.categories contains 'projects' %}
			<div class="post" data-url="{{post.url}}" data-container="content-{{post.name}}">
				<h2 class="subject">{{ post.title }}</h2>
				<span class="date">{{ post.date | date_to_string }}</span>
				<p class="description">{{ post.description }}</p>
				<div class="img-wrapper"><img src="{{post.image}}"></div>
				<div class="content" id="content-{{post.name}}"></div>
				<div class="expand">&#8744;</div>
				<div class="loader">&#8744;</div>
			</div>
		  {% endif %}
		{% endfor %}
	</div>
</section>

<section class="bio">
	<div class="inner">
		<div class="post" data-url="{{post.url}}" data-container="content-bio">
			<h2 class="subject">Who I am! --Coming Soon</h2>
			<span class="date">00/00/00</span>
			<p class="description">Bio to come soon!</p>
			<div class="content" id="content-bio"></div>
			<div class="expand">&#8744;</div>
			<div class="loader">&#8744;</div>
		</div>
	</div>
</section> <!-- bio -->