<div class="inner">
	<div class="header">
		<h1 class="logo">Tyl<span class="bright">o</span>r Louis</h1>
		<p>Learning and coding and stuff</p>
	</div>
</div>
<nav>
	<div class="inner">
		<div class="slider">
			<div class="position col-xs-4 col-sm-4 col-md-4" id="pos-0"></div>
			<div class="position col-xs-4 col-sm-4 col-md-4" id="pos-1"></div>
			<div class="position col-xs-4 col-sm-4 col-md-4" id="pos-2"></div>
		</div>
		<div class="bar">
			<div class="tab col-xs-4 col-sm-4 col-md-4 active" data-pos="0">Bio</div>
			<div class="tab col-xs-4 col-sm-4 col-md-4" data-pos="1">Writing</div>
			<div class="tab col-xs-4 col-sm-4 col-md-4" data-pos="2">Projects</div>
		</div>
	</div>
</nav>
