<div class="inner">
	<div class="header">
		<h1 class="logo">Tylor Louis</h1>
		<p>Learning and coding and stuff</p>
	</div>
</div>
<nav>
	<div class="inner">
		<div class="slider">
			<div class="position col-xs-4 col-sm-4 col-md-4" id="pos-0"></div>
			<div class="position col-xs-4 col-sm-4 col-md-4" id="pos-1"></div>
			<div class="position col-xs-4 col-sm-4 col-md-4" id="pos-2"></div>
		</div>
		<div class="bar">
			<a href="/"><div class="tab col-xs-4 col-sm-4 col-md-4" data-pos="0">Writing</div></a>
			<a href="/"><div class="tab col-xs-4 col-sm-4 col-md-4" data-pos="1">Projects</div></a>
			<a href="/"><div class="tab col-xs-4 col-sm-4 col-md-4 active" data-pos="2">Bio</div></a>
		</div>
	</div>
</nav>
