<section class="bio">  
  <h2 class="hidden">Interests</h2>
  <ul id="tags">
    <li>Web Development</li>
    <li>UCLA</li>
    <li>Computer Science</li>
    <li>Diversity in Tech</li>
  </ul>

 
  <div class="contact">
    <p>
      Student/Developer<br />
      tylorlouis@ucla.edu
    </p>
  </div>
  <div class="sites">
    <p>
      <a href="https://github.com/ty10r">github.com/ty10r</a><br />
      <a href="https://twitter.com/tylorlouis">twitter.com/tylorlouis</a><br />
    </p>
  </div>
</section>