<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %} {{ page.title }} |{% endif %} Tylor Louis</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Tylor Louis<br />
                Student/Developer<br />
                tylorlouis@ucla.edu
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/ty10r">github.com/ty10r</a><br />
                <a href="https://twitter.com/tylorlouis">twitter.com/tylorlouis</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
