<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Tylor Louis</title>
    <meta name="author" content="Tylor Louis">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Abel:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/tylorMin.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.pjax.js"></script>
    <script type="text/javascript" src="/js/swipe.js"></script>
</head>

    <body>

        {% include pNav.html %}
        {{ content }}

    </body>
</html>
